@import "tailwindcss";

body {
  font-family: "汉仪旗黑 35简", "HanYiQiHei", "HYQiHei", "PingFang SC", "Microsoft YaHei", sans-serif;
  overflow-x: hidden;
  background-color: #fdeff2;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
